.site-header {

    background-color: #229fd8;
    color:#dbe1f1;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.site-header-content{
    margin: 10px;
}


.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: #1e5772 2px 5px 2px;
}
.course-link{
    color:#dbe1f1;
}

body{

margin: 0;
}

